.bfront-pro-button{
	outline: 0 !important; 
	background: #202020; 
	color: #fff; 
	padding: 3px; 
	border-radius: 2px; 
	margin: 10px 30px 0; 
	display: block; 
	text-align: center;
}

.bfront-pro-button:hover, .bfront-pro-button:active, .bfront-pro-button:focus, .bfront-pro-button:visited{
	color: #fff;
	outline: 0 !important; 
}

#accordion-section-more_slider_section .accordion-section-title, 
#accordion-section-more_slider_section:hover > .accordion-section-title, 
#accordion-section-sorting_section .accordion-section-title, 
#accordion-section-sorting_section:hover > .accordion-section-title, 
#accordion-section-team_member_section .accordion-section-title, 
#accordion-section-team_member_section:hover > .accordion-section-title, 
#accordion-section-skill_section .accordion-section-title, 
#accordion-section-skill_section:hover > .accordion-section-title,
#accordion-section-portfolio_section .accordion-section-title, 
#accordion-section-portfolio_section:hover > .accordion-section-title{
	background-image: url(../images/gray-lines.png) !important;
    background-repeat: repeat !important;
}

#accordion-section-more_slider_section .accordion-section-title:after,
#accordion-section-sorting_section .accordion-section-title:after,
#accordion-section-team_member_section .accordion-section-title:after,
#accordion-section-skill_section .accordion-section-title:after,
#accordion-section-portfolio_section .accordion-section-title:after  {
	content: "\f023";
	font-family: FontAwesome;
	right: 15px;
	color: #555 !important;
}

#accordion-section-more_slider_section:hover > .accordion-section-title:after,
#accordion-section-sorting_section:hover > .accordion-section-title:after,
#accordion-section-team_member_section:hover > .accordion-section-title:after,
#accordion-section-skill_section:hover > .accordion-section-title:after,
#accordion-section-portfolio_section:hover > .accordion-section-title:after{
	color: #555 !important;
}